* {
  box-sizing: border-box;
  color: white;
  text-align: center;
  margin: 0;
  padding: 0;
}

body {
  font-size: 1.5em;
  background: #a8bcef;
  margin-top: 100px;
}

header {
  position: fixed;
  top: 0;
  width: 100vw;
  z-index: 5;
  background-color: #4da8dd;
  padding: 5px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100px;
}
header nav {
  display: flex;
  justify-content: space-around;
  width: 60%;
}
header nav button, header nav a {
  background-color: #4da8dd;
  border: none;
  font-size: 1em;
  text-decoration: none;
}
header nav .current {
  text-decoration: underline;
  color: #e52a83;
}
header nav .link {
  transition: color 0.3s ease-in-out;
}
header nav .link:hover {
  color: #e52a83;
}
header .dropdown {
  position: relative;
}
header .dropdown > .link::before {
  content: "\a";
  display: inline-block;
  width: 0;
  height: 0;
  border-top: 5px solid transparent;
  border-bottom: 5px solid transparent;
  border-left: 5px solid white;
  border-right: 5px solid transparent;
  margin-right: 5px;
  position: relative;
  top: -4px;
}
header .dropdown .dropdown-menu {
  position: absolute;
  text-align: left;
  width: 150px;
  left: -30px;
  top: calc(100% + 5px);
  background-color: #4da8dd;
  border-radius: 10px;
  padding: 10px;
  opacity: 0;
  transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out;
  pointer-events: none;
  transform: translateY(-10px);
}
header .dropdown .dropdown-menu a {
  display: block;
  margin-top: 5px;
}
header .dropdown.active > .link::before {
  border-top: 5px solid white;
  border-left: 5px solid transparent;
}
header .dropdown.active > .link + .dropdown-menu {
  opacity: 1;
  pointer-events: auto;
  transform: translateY(0px);
}
header .social-icons {
  width: 150px;
  display: flex;
  justify-content: space-between;
}

main .circle {
  border-radius: 50%;
}
main section {
  background-color: #e52a83;
  margin: 10px 100px;
  padding: 20px;
  border-radius: 20px;
  height: calc(100vh - 100px);
}
main section.about {
  background-color: #a8bcef;
  position: relative;
}
main section.about .circle {
  background: #e52a83;
  position: absolute;
  top: 50%;
  width: 5px;
  height: 5px;
  left: 50%;
  transition: transform 0.5s ease-in, width 0.5s ease-in, height 0.5s ease-in, margin-top 0.5s ease-in, margin-left 0.5s ease-in;
}
main section.about .mission {
  position: relative;
  width: 500px;
  height: 500px;
  left: 50%;
  top: 50%;
  margin-left: -250px;
  margin-top: -250px;
}
main section .container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
}
main section .payment-item {
  text-decoration: none;
  border-radius: 20px;
  padding: 10px;
  background: linear-gradient(#a8bcef, #4da8dd);
}
main section .payment-item:hover {
  background: linear-gradient(#4da8dd, #a8bcef);
}
main section.socials .social-header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 10px 0;
}
main section.socials .instagram-media {
  background: #FFF;
  border: 0;
  border-radius: 3px;
  box-shadow: 0 0 1px 0 rgba(0, 0, 0, 0.5), 0 1px 10px 0 rgba(0, 0, 0, 0.15);
  margin: 1px;
  min-width: 326px;
  padding: 0;
  width: 500px;
}
main form {
  margin: 10px 150px;
  display: grid;
  grid-template-columns: 1fr 2fr;
  row-gap: 20px;
  align-items: center;
  justify-items: left;
}
main form input, main form textarea {
  width: 100%;
  color: black;
  text-align: left;
}
main form textarea {
  width: 100%;
  height: 8em;
}
main form label.required::after {
  content: " *";
  color: red;
}
main form .checkboxes {
  width: 100%;
  display: grid;
  grid-auto-flow: column;
  grid-template-rows: 1fr 1fr;
}
main form button {
  background-color: #e52a83;
  padding: 5px 10px;
  border-radius: 8px;
  margin: auto;
}/*# sourceMappingURL=styles.css.map */