
$background-color: #a8bcef;
// #a8bcef
$nav-color: #4da8dd;
$container-background-color: #e52a83;

// ! This color needs to be changed for readability
$font-color: white;

$triangle-size: 5px;

$font-size: 1.5em;
$font-size-nav: 1em;

$nav-height: 100px;

*{
    box-sizing: border-box;
    color: $font-color;
    text-align: center;
    margin: 0;
    padding: 0;
}

body {
    font-size: $font-size;
    background: $background-color;
    margin-top: $nav-height;
}

header{
    position: fixed;
    top:0;
    width: 100vw;
    z-index: 5;
    background-color: $nav-color;
    padding: 5px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: $nav-height;

    nav{
        display: flex;
        justify-content: space-around;
        width: 60%;

        

        button, a{
            background-color: $nav-color;
            border: none;
            font-size: $font-size-nav;
            text-decoration: none;
            
        }

        .current{
            text-decoration: underline;
            color: $container-background-color;
        }

        .link{
            transition: color 0.3s ease-in-out;

            &:hover{
                color: $container-background-color;
            }
        }

    }

    .dropdown{

        position: relative;

        & > .link::before{
            content:"\A";
            display: inline-block;
            width: 0;
            height: 0;
            border-top: $triangle-size solid transparent;
            border-bottom: $triangle-size solid transparent;
            border-left: $triangle-size solid $font-color;
            border-right: $triangle-size solid transparent;
            margin-right: 5px;
            position: relative;
            top: -4px;
        }

        .dropdown-menu{
            position: absolute;
            text-align: left;
            width: 150px;
            left: -30px;
            top: calc(100% + 5px);
            background-color: $nav-color;
            border-radius: 10px;
            padding:10px;
            opacity: 0;
            transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out;
            pointer-events: none;
            transform: translateY(-10px);
            a{
                display: block;
                margin-top: 5px;
            }

        }

        &.active > .link{

            &::before{
                border-top: $triangle-size solid $font-color;
                border-left: $triangle-size solid transparent;
            }

            & + .dropdown-menu{
                opacity: 1;
                pointer-events: auto;
                transform: translateY(0px);
            }
        } // end of > .link:focus
    } // end of dropdown

    .social-icons{
        width: 150px;
        display:flex;
        justify-content: space-between;
    }
} // end of header

main{

    .circle{border-radius: 50%;}
    section{
        // background-color: $container-background-color;
        padding: 20px;
        height: calc(100vh - $nav-height);
    }
    
    section.about{
        background-color: $background-color;
        position: relative;

        .circle{
            background: $container-background-color;
            position: absolute;
            top: 50%;
            // margin-top: -150px;
            width: 5px;
            height: 5px;
            left: 50%;
            // margin-left: -150px;
            transition: transform 0.5s ease-in, 
            width 0.5s ease-in, 
            height 0.5s ease-in,
            margin-top 0.5s ease-in,
            margin-left 0.5s ease-in;
        }
        
        .mission{
            position: relative;
            width: 500px;
            height: 500px;
            left: 50%;
            top: 50%;
            margin-left: -250px;
            margin-top: -250px;
            // opacity: 0.5;
        }
            
    }
        
        

    .container{
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        flex-wrap: wrap;
    }

    .payment-item{
        text-decoration: none;
        border-radius: 20px;
        padding:10px;
        background: linear-gradient($background-color, $nav-color);

        &:hover{
            background: linear-gradient($nav-color, $background-color);
        }
    }
    section.socials{

        .social-header{
            display: flex;
            justify-content: space-around;
            align-items: center;
            margin: 10px 0;
        }
        .instagram-media{
            background:#FFF; 
            border:0; 
            border-radius:3px; 
            box-shadow:0 0 1px 0 rgba(0,0,0,0.5),0 1px 10px 0 rgba(0,0,0,0.15); 
            margin: 1px; 
            // max-width:540px; 
            min-width:326px; 
            padding:0;
            width: 500px; 
            // width:99.375%; 
            // width:-webkit-calc(100% - 2px); 
            // width:calc(100% - 2px);
        }
        
    }

    form{
        margin: 10px 150px;
        display: grid;
        grid-template-columns: 1fr 2fr;
        row-gap: 20px;
        align-items: center;
        justify-items: left;
        input, textarea{
            width: 100%;
            color: black;
            text-align: left;
        }

        textarea{
            width: 100%;
            height: 8em;;
        }

        label.required::after{
            content: ' *';
            color: red;
        }


        .checkboxes{
            width: 100%;
            display: grid;
            grid-auto-flow: column;
            grid-template-rows: 1fr 1fr;
        }
        button{
            background-color: $container-background-color;
            padding: 5px 10px;
            border-radius: 8px;
            margin: auto;
        }
    }
}