$font-color: white;
$background-color: #a8bcef;
// #a8bcef
$nav-color: #4da8dd;
$container-background-color: #e52a83;

$triangle-size: 5px;

$font-size: 1.5em;
$font-size-nav: 1em;

*{
    box-sizing: border-box;
    color: white;
    text-align: center;
    margin: 0;
    padding: 0;
}

body {
    font-size: $font-size;
    background: $background-color;
}

header{
    background-color: $nav-color;
    padding: 5px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    nav{
        display: flex;
        justify-content: space-around;
        width: 60%;

        

        button, a{
            background-color: $nav-color;
            border: none;
            font-size: $font-size-nav;
            text-decoration: none;
            
        }

        .current{
            text-decoration: underline;
            color: $container-background-color;
        }

        .link{
            transition: color 0.3s ease-in-out;

            &:hover{
                color: $container-background-color;
            }
        }

    }

    .dropdown{

        position: relative;

        & > .link::before{
            content:"\A";
            display: inline-block;
            width: 0;
            height: 0;
            border-top: $triangle-size solid transparent;
            border-bottom: $triangle-size solid transparent;
            border-left: $triangle-size solid $font-color;
            border-right: $triangle-size solid transparent;
            margin-right: 5px;
            position: relative;
            top: -4px;
        }

        .dropdown-menu{
            position: absolute;
            text-align: left;
            width: 150px;
            left: -30px;
            top: calc(100% + 5px);
            background-color: $nav-color;
            border-radius: 10px;
            padding:10px;
            opacity: 0;
            transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out;
            pointer-events: none;
            transform: translateY(-10px);
            a{
                display: block;
                margin-top: 5px;
            }

        }

        &.active > .link{

            &::before{
                border-top: $triangle-size solid $font-color;
                border-left: $triangle-size solid transparent;
            }

            & + .dropdown-menu{
                opacity: 1;
                pointer-events: auto;
                transform: translateY(0px);
            }
        } // end of > .link:focus
    } // end of dropdown

    .social-icons{
        width: 150px;
        display:flex;
        justify-content: space-between;
    }
} // end of header

main{
    form{
        margin: 10px 150px;
        display: grid;
        grid-template-columns: 1fr 2fr;
        row-gap: 20px;
        align-items: center;
        justify-items: left;
        input{
            width: 100%;
            color: black;
            text-align: left;
        }

        .checkboxes{
            width: 100%;
            display: grid;
            grid-auto-flow: column;
            grid-template-rows: 1fr 1fr;
        }
        button{
            background-color: $container-background-color;
            padding: 5px 10px;
            border-radius: 8px;
            margin: auto;
        }
    }
}